<div class="level product-actions">
  <div class="level-left">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Artículos en Conferencias', conference_papers_path(@person.shortname) %></li>
      </ul>
    </nav>
  </div>
  <div class="level-right">
    <% if @conference_paper.can_edit(current_user.id) %>
      <%= link_to 'Editar', edit_conference_paper_path(@person.shortname, @conference_paper), class: 'button is-link' %>
    <% end %>
    <%= link_to conference_papers_path(@person.shortname), class: 'button' do %>
      <span class="icon is-small"><i class="fas fa-angle-left" aria-hidden="true"></i></span>
    <% end %>
  </div>
</div>
<div class="product">
<% if notice %>
  <div id="notice" class="notification is-info" isDismissable="true">
    <button class="delete"></button>
    <%= notice %>
  </div>
<% end %>

<h1 class="product-title"><%= @conference_paper.title %></h1>

<p class="product-authors"><%= @conference_paper.authors %></p>
<p class="product-extra">
  <% if @conference_paper.status == ConferencePaper::PUBLISHED %>
  <%= @conference_paper.published_date %> &bull; <%= @conference_paper.conference.name %> / <%= @conference_paper.conference.organizer %><br>
    <%= @conference_paper.conference.place %>, <%= @conference_paper.conference.country.name %><br>
  <% end %>
</p>

<p class="product-dates">
  Fecha envío: <%= @conference_paper.sent_date %>
  <% if @conference_paper.accepted_date %>
    &bull; Fecha aceptado: <%= @conference_paper.accepted_date %>
  <% end %>
  <% if @conference_paper.published_date %>
    &bull; Fecha publicado: <%= @conference_paper.published_date %>
  <% end %>
</p>
<p class="product-status">
  <span class="tag <%= @conference_paper.status_class %>"><%= @conference_paper.status_text %></span>
</p>

<% if !@conference_paper.abstract.blank? %>
<h2>Abstract</h2>
<p class="abstract"><%= @conference_paper.abstract %></p>
<% end %>

<%= render 'product_files/list', product: @conference_paper  %>
<%= render 'product_participants/list', product: @conference_paper  %>
<%= render 'acknowledgments/list', product: @conference_paper  %>
<%= render 'product_cites/list', product: @conference_paper  %>




  
</div>