<div class="profile-show">
<div class="level product-actions profile-head">
  <div class="level-left">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to @person.full_name, "/perfiles/#{@person.shortname}" %></li>
      </ul>
    </nav>
  </div>
  <div class="level-right">
    <% if @person.id == current_user.id %>
      <%= link_to 'Editar', profile_edit_path(@person.shortname), class: 'button is-link' %>
    <% end %>
  </div>
</div>


<div class="columns">
  <div class="column is-three-fifths">
	<% if !@person.about.blank? %>
	  <p><%= simple_format(@person.about) %></p>
	<% end %>
  </div>
  <div class="column">
    <% if !@person.description.blank? %>
      <strong><%= @person.description %></strong><br/>
    <% end %>
    Departamento: <a href="<%= ver_departamento_path(@person.department) %>"><%= @person.department.name %></a><br/>
    Reporta a: <a href="<%= show_profile_path(@person.person.shortname) %>"><%= @person.person.full_name %></a>    
  </div>
</div>

<% active_educations = @person.educations.where(status: Education::ACTIVE) %>
<% if active_educations.count > 0 %>
  <div id="education-list">
    <h2>Educación</h2>
    <% active_educations.each do |education| %>
      <div class="education-ui-item media">  
        <div class="media-left">
          <span class="icon is-large has-text-grey-lighter">
            <i class="fas fa-university fa-3x"></i>
           </span>
        </div>
        <div class="media-content"> 
          <strong><%= education.title %></strong><br>
          <%= education.organization.name %>
          <% if !education.faculty.blank? %>
            - <%= education.faculty %>
          <% end %>
          <br>
          <small><%= education.start_year %> - <%= education.end_year %> <span class="tag is-light"><%= education.degree.name rescue '-' %></span> </small>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if @person.research_lines.order(:name).count > 0 %>
  <h2>Líneas de Investigación</h2>
  <div class="media research-lines-profile">  
    <div class="media-left">
      <span class="icon is-large has-text-grey-lighter">
        <i class="fas fa-atom fa-3x"></i>
       </span>
    </div>
    <div class="media-content"> 
      <% @person.research_lines.each do |line| %>
        <div class="research-line-ui-item">
          <%= line.name %><br>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% if @person.topics.order(:name).count > 0 %>
  <h2>Áreas de Interes</h2>
  <div class="media topics-profile">  
    <div class="media-left">
      <span class="icon is-large has-text-grey-lighter">
        <i class="fas fa-brain fa-3x"></i>
       </span>
    </div>
    <div class="media-content"> 
      <% @person.topics.each do |topic| %>
        <div class="research-line-ui-item">
          <%= topic.name %><br>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% active_experiences = @person.experiences.where(status: Experience::ACTIVE) %>
<% if active_experiences.count > 0 %>
  <div id="experience-list">
    <h2>Experiencia</h2>
    <% active_experiences.each do |experience| %>
      <div class="experience-ui-item media"> 
        <div class="media-left">
          <span class="icon is-large has-text-grey-lighter">
            <i class="fas fa-building fa-3x"></i>
           </span>
        </div>
        <div class="media-content">
          <strong><%= experience.title %></strong><br>
          <%= experience.company %><br>
          <small><%= experience.start_date %> - <%= experience.end_date %> <span class="tag is-light"><%= experience.experience_type.name rescue '-' %></span> </small>
          <p><%= simple_format(experience.description) %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>






</div>

