<%= form_for conference_work, :url => conference_work_path(person.shortname, conference_work), local: true do |form| %>

  <% if conference_work.errors.any? %>

  <div class="notification is-danger">
    <button class="delete"></button>
    <h2><%= pluralize(conference_work.errors.count, "error") %> prohibited this conference_work from being saved:</h2>
    <ul>
      <% conference_work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>

  <% end %>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :title, 'Título', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control"><%= form.text_field :title, class:'input', required: true %></p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :work_type, 'Tipo', class:'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <% options = ConferenceWork::WORK_TYPES.invert.sort {|a,b| (a[1] <=> b[1]) if a[1] > 0} %>
      <p class="control">
        <div class="select">
          <%= form.select :work_type, options, {} %>
        </div>
      </p>
    </div>
  </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :authors, 'Autores', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control"><%= form.text_field :authors, class:'input', required: true %></p>
      </div>
    </div>
  </div>


  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :conference_id, 'Evento', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p>
          <%= conference_work.conference.name %>
          <div class="row-extra">
            <% if conference_work.conference.is_refereed %>
              <span class="tag is-light">Arbitrada</span>
            <% end %>
            <% if conference_work.conference.is_international %>
              <span class="tag is-light">Internacional</span>
            <% end %>
          </div>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :status, 'Estado', class:'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <% options = ConferenceWork::STATUS.invert.sort {|a,b| (a[1] <=> b[1]) if a[1] > 0} %>
      <p class="control">
        <div class="select">
          <%= form.select :status, options, {} %>
        </div>
      </p>
    </div>
  </div>
  </div>

  <div class="sent-status">
    <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :sent_date, 'Fecha envío', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control"><%= form.text_field :sent_date, class:'input', type:'date' %></p>
      </div>
    </div>
    </div>
  </div>

  <% if conference_work.status == ConferenceWork::ACCEPTED ||  conference_work.status == ConferenceWork::PUBLISHED 
       display_accepted = ''
     else 
       display_accepted = 'display: none;'
     end
  %>
  <div class="accepted-status" style="<%= display_accepted %>">
    <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :accepted_date, 'Fecha aceptado', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control"><%= form.text_field :accepted_date, class:'input', type:'date' %></p>
      </div>
    </div>
    </div>
  </div>

  <% if conference_work.status == ConferenceWork::PUBLISHED 
       display_published = ''
     else 
       display_published = 'display: none;'
     end
  %>
  <div class="published-status" style="<%= display_published %>">
    <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :published_date, 'Fecha publicación', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control"><%= form.text_field :published_date, class:'input', type:'date' %></p>
      </div>
    </div>
    </div>


    
  </div>

  
  <div class="actions is-pulled-right">
    <%= form.submit 'Actualizar trabajo', class:'button is-link' %>
  </div>
<% end %>