<!DOCTYPE html>
<html id="login-html">
  <head>
    <title>Productividad</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="login-body">
    <div id="login-box">
      <%= image_tag "logo-color.svg" %>
      <h1>Productividad</h1>
      <a href="/auth/google_oauth2"class="button is-blue">
     <span>Ingresar</span></a>
    </div>
  </body>
</html>