<div id="education-ui" class="product">
<div id="education-list">
<% active_educations = person.educations.where(status: Education::ACTIVE) %>
<% if active_educations.count > 0 %>
  <% active_educations.each do |education| %>
  <div class="education-ui-item"> 
    <a class="delete education-delete is-pulled-right" data-education-id="<%= education.id %>"  data-person-id="<%= person.id %>" data-confirm="¿Confirmar?"></a>  
    <strong><%= education.title %></strong> <a class="edit education-edit" data-education-id="<%= education.id %>"  data-person-id="<%= person.id %>"><span class="icon"><i class="fas fa-edit"></i></span></a> <br>
    <%= education.organization.name %>
    <% if !education.faculty.blank? %>
      - <%= education.faculty %>
    <% end %>
    <br>
    <small><%= education.start_year %> - <%= education.end_year %> <span class="tag is-light"><%= education.degree.name rescue '-' %></span> </small>
  </div>
  <% end %>
<% else %>
  <div class="empty-tab">No hay educación agregada</div>
<% end %>
<div class="actions is-pulled-right">
  <a class="button is-link" id="education-show-add">Agregar</a>
</div>
</div>
<div id="education-form">
<h2>Agregar educación</h2>
<%= render 'education/form', education: person.educations.new, person: person %>
<div class="actions is-pulled-right">
  <a class="button is-link" id="education-add" data-person-id="<%= person.id %>">Agregar</a>
</div>
</div>

    
    
</div>