<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @person.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @person.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @person.end_date %>
</p>

<p>
  <strong>Reload:</strong>
  <%= @person.reload %>
</p>

<p>
  <strong>Status:</strong>
  <%= @person.status %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @person.organization_id %>
</p>

<p>
  <strong>Department:</strong>
  <%= @person.department_id %>
</p>

<p>
  <strong>People:</strong>
  <%= @person.people_id %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
