<div class="container product-index">
<div class="level product-actions">
  <div class="level-left">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Conferencias por Invitaci칩n', conferencias_por_invitacion_path %></li>
      </ul>
    </nav>
  </div>
  <div class="level-right">
    <div class="product-filters">
      <div class="select">
        <% 
        options = {}
        options["Todos los a침os"] = "todos"
        
        this_year = Date.today.year

        if @min_year.is_a? Integer
          min_year = @min_year
        else
          min_year = this_year
        end

        
        (min_year..this_year).each do |y|
          options["A침o #{y}"] = y
        end
        %>
        <%= select_tag 'filter_year', options_for_select(options, @filter_year), class: 'filter-select', id: "filter-year", 'data-url': conferencias_por_invitacion_path %>
      </div>

    </div>
    
  </div>
</div>

<% if @invited_conferences.count == 0 %>
  <div class="empty-results">No existen</div>
<% end %>
<% @invited_conferences.each do |invited_conference| %>
<div class="product-item">
  <article class="media">
    <div class="media-left">
      <%= published_icon %>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= link_to invited_conference.title, ver_conferencia_por_invitacion_path(invited_conference) %></strong>
          <br>
          <p class="product-dates">
            <small>
              Fecha de presentaci칩n: <%= invited_conference.conference_date %>
            </small>
          </p>
          <div class="tags  has-addons">
            <span class="tag is-medium"><img class="is-rounded leader-img" src="<%= invited_conference.person.display_url rescue '' %>" title="<%= invited_conference.person.full_name %>"> </span>
            <span class="tag is-medium"><%= invited_conference.person.full_name %></span>
          </div>
        </p>
      </div>
    </div>
  </article>
</div>
<% end %>
</div>
