<div class="container catalog">

<% if notice %>
  <div id="notice" class="notification is-info">
    <button class="delete"></button>
    <%= notice %>
  </div>
<% end %>

<div class="level">
  <div class="level-left">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Configuración', config_path %></li>
        <li><%= link_to 'Grupos de Investigación', research_groups_path %></li>
      </ul>
  </nav>
  </div>
  <div class="level-right">
    <%= link_to 'Agregar', new_research_group_path, class:'button is-link' %>
  </div>
</div>

<table class="table is-striped is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Departamento</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @research_groups.each do |research_group| %>
      <tr>
        <td><%= research_group.name %></td>
        <td><%= research_group.description %></td>
        <td><%= research_group.department.name %></td>
        <td><%= link_to 'Editar', edit_research_group_path(research_group) %></td>
        <td><%= link_to 'Eliminar', research_group, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>