<div class="container product-index">
<div class="level product-actions">
  <div class="level-left">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Asociaciones y Redes', asociaciones_y_redes_path %></li>
      </ul>
    </nav>
  </div>
  <div class="level-right">
    <div class="product-filters">
      <div class="select">
        <% 
        options = {}
        options["Todos los años"] = "todos"
        
        this_year = Date.today.year

        if @min_year.is_a? Integer
          min_year = @min_year
        else
          min_year = this_year
        end

        
        (min_year..this_year).each do |y|
          options["Año #{y}"] = y
        end
        %>
        <%= select_tag 'filter_year', options_for_select(options, @filter_year), class: 'filter-select', id: "filter-year", 'data-url': asociaciones_y_redes_path %>
      </div>

    </div>
  </div>
</div>

<% if @associations.count == 0 %>
  <div class="empty-results">No existen</div>
<% end %>
<% @associations.each do |association| %>
  <% if association.association_members.count > 0 %>
    <h2><%= association.name %></h2>
    <p>
    <% if association.is_international %>
      <span class="tag is-light">Internacional</span>
    <% end %>
    <%= "#{association.location} (#{association.country.name})" %>
    </p>
    <table class="table is-fullwidth">
    <tr><th colspan="2">Miembro</th><th>Fechas</th><th>Estado</th></tr>
    <% association.association_members.each do |m| %>
    <tr>
      <td style="width: 60px;"><img class="is-rounded leader-img" src="<%= m.person.display_url rescue '' %>"></td>
      <td><%= m.person.full_name %></td>
      <td>
        <% if m.status == AssociationMember::INACTIVE %>
          Del <%= m.start_date %> al <%= m.end_date %>
        <% else %>
          <%= m.start_date %>
        <% end %>
      </td>
      <td><span class="tag <%= m.status_class %>"><%= m.status_text %></span></td>
    </tr>
    <% end %>
    </table>
  <% end %>
<% end %>
 

</div>
