<%= form_for project_reviewer, :url => project_reviewer_path(person.shortname, project_reviewer), local: true do |form| %>

  <% if project_reviewer.errors.any? %>

  <div class="notification is-danger">
    <button class="delete"></button>
    <h2><%= pluralize(project_reviewer.errors.count, "error") %> prohibited this project_reviewer from being saved:</h2>
    <ul>
      <% project_reviewer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>

  <% end %>


  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :name, 'Proyecto', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control"><%= form.text_field :name, class:'input', required: true %></p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :announcement, 'Convocatoria', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control"><%= form.text_field :announcement, class:'input', required: true %></p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :description, 'Descripción', class:'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control"><%= form.text_area :description, class:'textarea' %></p>
    </div>
  </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :review_date, 'Fecha', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control"><%= form.text_field :review_date, type:'date', class:'input' %></p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :country_id, 'País', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="select">

          <%= form.collection_select :country_id, Country.order(:name),:id,:name %>
        </div>
      </div>
    </div>
  </div>

  <div class="actions is-pulled-right">
    <%= form.submit 'Actualizar', class:'button is-link' %>
  </div>
<% end %>