<div class="level product-actions">
  <div class="level-left">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Patentes', patents_path(@person.shortname) %></li>
        <li><a>Editar</a></li>
      </ul>
    </nav>
  </div>
  <div class="level-right">
    <%= link_to patents_path(@person.shortname), class: 'button' do %>
      <span class="icon is-small"><i class="fas fa-angle-left" aria-hidden="true"></i></span>
    <% end %>
  </div>
</div>
<div class="product">
  
<h1 class="product-title"><%= link_to @patent.title, patent_path(@person.shortname, @patent) %></h1>


<div class="product-tabs tabs-wrapper">
  <div class="tabs">
    <ul>
        <li class="is-active"><a>Datos Generales</a></li>
        <li><a>Participantes</a></li>
        <li><a>Agradecimientos</a></li>
        <li><a>Archivos</a></li>
        <li><a title="Bitácora de cambios"><span class="icon"><i class="fas fa-file-alt"></i></span></a></li>
        <li><a title="Configuración"><span class="icon"><i class="fas fa-cogs"></i></span></a></li>
    </ul>
  </div>

  <div class="tabs-content">
  <ul>
    <li class="is-active">
      <%= render 'edit_form', patent: @patent, person: @person  %>
      <div class="is-clearfix"></div>
    </li>
    <li>
      <div id="product-participants-ui">
        <%= render 'product_participants/ui', product: @patent  %>
      </div>
      <div class="is-clearfix"></div>
    </li>
    <li>
      <div id="acknowledgments-ui">
      <%= render 'acknowledgments/ui', product: @patent  %>
      <div class="is-clearfix"></div>
    </li>
    <li>
      <%= render 'product_files/ui', product: @patent %>
      <div class="is-clearfix"></div>
    </li>
    <li>
      <%= render 'activity_logs/ui', product: @patent %>
      <div class="is-clearfix"></div>
    </li>
    <li>
      <div class="is-clearfix"></div>
    </li>
  </ul>
  </div>
</div>

</div>