<%= render 'projects/project_header', project: @project, person: @person  %>
<div class="product">
  <h1 class="project-title"><%= link_to @project.name, administrar_project_path(@person.shortname, @project) %></h1>
  <%= render 'projects/project_menu', project: @project, person: @person  %>
</div>

<div class="level product-actions">
  <div class="level-left">
    <nav class="breadcrumb project-tab-title" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Tareas', project_project_messages_path(@person.shortname, @project) %></li>
        <li><a>Nueva Tarea</a></li>
      </ul>
    </nav>
  </div>
  <div class="level-right">
    <%= link_to project_project_messages_path(@person.shortname, @project), class: 'button' do %>
      <span class="icon is-small"><i class="fas fa-angle-left" aria-hidden="true"></i></span>
    <% end %>
  </div>
</div>
<%= form_for @project_task, :url => project_project_tasks_path(@person.shortname, @project), local: true do |form| %>
  <div class="field">
    <p class="control title-input"><%= form.text_field :name, class:'input', required: true, placeholder: 'Tarea' %></p>
  </div>

  <div class="field">
    <table class="field-table">
      <tr>
        <td><%= form.label :project_task_list_id, 'Lista:', class:'label' %></td>
        <td>
          <div class="select">
            <%= form.collection_select :project_task_list_id, @project.project_task_lists.order(:name),:id,:name %>
          </div>
        </td>
        <td><%= form.label :assigned_to, 'Asignada a:', class:'label' %></td>
        <td>
          <div class="select">
            <%= form.collection_select :assigned_to, @project.project_participants.order(:participation),:person_id,:full_name %>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="field">
    <p class="control single-rich"><%= form.rich_text_area :content %></p>
  </div>

  <div class="actions is-pulled-right">
    <%= form.submit 'Crear', class:'button is-link' %>
  </div>
<% end %>
