<% if params[:search] == 'true' %>
  <%= render 'simple_crud/index_table' %>
<% else %>
  <%
  if @parent 
    url_index = polymorphic_path([@parent, @crud_model])
    url_new = new_polymorphic_path([@parent, @crud_model.new])
  else 
    url_index = polymorphic_path(@crud_model) 
    url_new = new_polymorphic_path(@crud_model.new)
  end 
  %>
  <input type="hidden" id="crud-index-url" value="<%= url_index %>">
  <input type="hidden" id="crud-index-page" value="<%= @page %>">
  <div class="container product-index crud-index <%= @crud_container %>">
    <div class="level product-actions">
      <div class="level-left">
        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            <% if @crud_parent_title %>
              <li> 
                <% if @crud_parent_title.kind_of?(Array) %>
                  <% parent_title = @crud_parent_title.map {|f| f.is_a?(String) ? f : @parent[f] }.join('') %>
                <% else %>
                  <% parent_title = @parent[@crud_parent_title] %>
                <% end %>
                <%= link_to parent_title, polymorphic_path(@parent) %>
              </li>
            <% end %>
            <li><%= link_to @crud_title, url_index %></li>
          </ul>
        </nav>
      </div>
      <div class="level-right">
        <div class="product-filters crud-filters">
          <% i = 0 %>
          <% @crud_filters.each do |filter| %>
            <% i = i + 1 %>
            
            <% if filter[:type] == :search %>
               <% placeholder = filter[:params][:placeholder].blank? ? '' : filter[:params][:placeholder] %>
               <input type="text" class="input crud-filter crud-filter-text" id="filter-<%= i %>" data-id="f<%= i %>" placeholder="<%= placeholder %>">
            <% end %>

            <% if filter[:type] == :select %>
              <div class="select">
                <%= select_tag "filter_#{i}", options_for_select(filter[:params][:options]), class: 'crud-filter crud-filter-select', id: "filter-#{i}", 'data-id': "f#{i}", prompt: "" %>
              </div>
            <% end %>


          <%  end %>
        </div>
        <a href="<%=  url_new %>" class="button is-success"><span class="icon is-small"><i class="fas fa-plus" aria-hidden="true"></i></span></a>
      </div>
    </div>

    <div id="crud-index-table">
      <%= render 'simple_crud/index_table' %>
    </div>
  </div>
<% end %>
</div>



