<%
if @parent 
  url_model = polymorphic_path([@parent, @crud_model])
  url_entry = polymorphic_path([@parent, @entry])
  url_edit = edit_polymorphic_path([@parent, @entry])
else 
  url_model = polymorphic_path(@crud_model)
  url_entry = polymorphic_path(@entry)
  url_edit = edit_polymorphic_path(@entry)
end 
%>
<div class="container product-index <%= @crud_container %>">
  <div class="level product-actions">
    <div class="level-left">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <% if @crud_parent_title %>
              <li> 
                <% if @crud_parent_title.kind_of?(Array) %>
                  <% parent_title = @crud_parent_title.map {|f| f.is_a?(String) ? f : @parent[f] }.join('') %>
                <% else %>
                  <% parent_title = @parent[@crud_parent_title] %>
                <% end %>
                <%= link_to parent_title, polymorphic_path(@parent) %>
              </li>
            <% end %>
          <li><%= link_to @crud_title, url_model %></li>
          <% if @crud_item_title %>
            <li> 
              <% if @crud_item_title.kind_of?(Array) %>
                <% item_title = @crud_item_title.map {|f| f.is_a?(String) ? f : @entry[f] }.join('') %>
              <% else %>
                <% item_title = @entry[@crud_item_title] %>
              <% end %>
              <%= link_to item_title, url_entry %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
    <div class="level-right">
      <div class="crud-children">
        <% @crud_children.each do |c| %>
          <a href="<%= polymorphic_path([@entry, "#{c[:child]}".pluralize]) %>" class="button"><%= c[:text] %></a>
        <% end %>
      </div>
      <div class="product-filters">
      </div>
      <a href="<%= url_edit %>" class="button is-link"><span class="icon is-small"><i class="fas fa-edit"></i></span></a>
      <%= link_to url_entry, class: "button is-danger", data: {:confirm => '¿Confirmar?'}, :method => :delete do %>
        <span class="icon is-small"><i class="fas fa-trash" aria-hidden="true"></i></span>
      <% end %>
      <a href="<%= url_model %>" class="button"><span class="icon is-small"><i class="fas fa-angle-left" aria-hidden="true"></i></span></a>
    </div>
  </div>

  <div class="columns">
    <% if @crud_item_image %>
      <div class="column is-narrow">
        <figure class="image is-128x128"><img class="is-rounded" src="<%= eval "@entry.#{@crud_item_image}" %>"></figure>
      </div>
    <% end %>
    <div class="column">
    <% options_hash = {} %>
    <% @crud_fields.each do |f| %>
      <% next if f[:params][:hide] %>
      <div class="field">
        <label class="label"><%= f[:text] %></label>
        <div class="control">
          <% if f[:type] == :select
               options_hash[f[:field]] = {}
               f[:params][:options].each do |o|
                 options_hash[f[:field]][o[1]] = o[0]
               end %>
            <%= options_hash[f[:field]][@entry[f[:field]]] %>
          <% elsif f[:type] == :checkbox %>
            <%= @entry[f[:field]] ? 'SI' : 'NO' %>
          <% elsif f[:type] == :show %>
            <%= eval "@entry.#{f[:field]}" %>
          <% else %>
        	  <%= @entry[f[:field]] %>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>