<div class="container product-index">
<div class="level product-actions">
  <div class="level-left">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a><%= @department.name %></a></li>
      </ul>
    </nav>
  </div>
  <div class="level-right">
     <%= link_to departamentos_path, class: 'button' do %>
      <span class="icon is-small"><i class="fas fa-angle-left" aria-hidden="true"></i></span>
    <% end %>
  </div>
</div>

<h2>Empleados</h2>
<div class="department-people-area">
<% @department.people.where(status: Person::STATUS_ACTIVE, person_type_id: 1).includes(:person).order(:first_name, :last_name).each do |p| %>
<a class="dark-link" href="<%= show_profile_path(p.shortname) %>">
  <article class="media department-person">
    <figure class="media-left">
      <p class="image is-64x64">
        <% if p.id == @department.person_id %>
          <% pclass = 'leader-img' %>
        <% else %>
          <% pclass = 'participant-img' %>
        <% end %>
        <img class="is-rounded <%= pclass %>" src="<%= p.display_url %>">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= p.full_name %></strong><br>
          <small><%= p.email %></small><br>
          <%= p.description %>
        </p>
      </div>
    </div>
  </article>
</a>
<% end %>
<div class="is-clearfix"></div>
</div>

<% catedras = @department.people.where(status: Person::STATUS_ACTIVE, person_type_id: 3).includes(:person).order(:first_name, :last_name) %>
<% if catedras.count > 0 %>
<h2>Catedras</h2>
<div class="department-people-area">
<% catedras.each do |p| %>
<a class="dark-link" href="<%= show_profile_path(p.shortname) %>">
  <article class="media department-person">
    <figure class="media-left">
      <p class="image is-64x64">
        <img class="is-rounded" src="<%= p.display_url %>">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= p.full_name %></strong><br>
          <small><%= p.email %></small><br>
          <%= p.description %>
        </p>
      </div>
    </div>
  </article>
</a>
<% end %>
<div class="is-clearfix"></div>
</div>
<% end %>
