<%= form_for journal_article, :url => journal_article_path(person.shortname, journal_article), local: true do |form| %>

  <% if journal_article.errors.any? %>

  <div class="notification is-danger">
    <button class="delete"></button>
    <h2><%= pluralize(journal_article.errors.count, "error") %> prohibited this journal_article from being saved:</h2>
    <ul>
      <% journal_article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>

  <% end %>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :title, 'Título', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control"><%= form.text_field :title, class:'input', required: true %></p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :authors, 'Autores', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control"><%= form.text_field :authors, class:'input', required: true %></p>
      </div>
    </div>
  </div>


  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :journal_id, 'Revista', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p>
          <%= journal_article.journal.name %>
          <div class="row-extra">
            <% if journal_article.journal.is_refereed %>
              <span class="tag is-light">Arbitrada</span>
            <% end %>
            <% if journal_article.journal.is_international %>
              <span class="tag is-light">Internacional</span>
            <% end %>
            <% if journal_article.journal.is_indexed %>
              <span class="tag is-light">Índizada</span>
            <% end %>
            <% if journal_article.journal.is_indexed %>
              <span class="tag is-light">Factor de impacto <%= journal_article.journal.impact_factor.year rescue '-' %>: <%= journal_article.journal.impact_factor.impact_factor rescue '-' %></span>
            <% end %>
          </div>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :abstract, 'Abstract', class:'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control"><%= form.text_area :abstract, class:'textarea' %></p>
    </div>
  </div>
  </div>

  <div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :status, 'Estado', class:'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <% options = JournalArticle::STATUS.invert.sort {|a,b| (a[1] <=> b[1]) if a[1] > 0} %>
      <p class="control">
        <div class="select">
          <%= form.select :status, options, {} %>
        </div>
      </p>
    </div>
  </div>
  </div>

  <div class="sent-status">
    <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :sent_date, 'Fecha envío', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control"><%= form.text_field :sent_date, class:'input', type:'date' %></p>
      </div>
    </div>
    </div>
  </div>

  <% if journal_article.status == JournalArticle::ACCEPTED ||  journal_article.status == JournalArticle::PUBLISHED 
       display_accepted = ''
     else 
       display_accepted = 'display: none;'
     end
  %>
  <div class="accepted-status" style="<%= display_accepted %>">
    <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :accepted_date, 'Fecha aceptado', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control"><%= form.text_field :accepted_date, class:'input', type:'date' %></p>
      </div>
    </div>
    </div>
  </div>

  <% if journal_article.status == JournalArticle::PUBLISHED 
       display_published = ''
     else 
       display_published = 'display: none;'
     end
  %>
  <div class="published-status" style="<%= display_published %>">
    <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :published_date, 'Fecha publicación', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control"><%= form.text_field :published_date, class:'input', type:'date' %></p>
      </div>
    </div>
    </div>


    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <%= form.label :volume, 'Volúmen', class:'label' %>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control"><%= form.text_field :volume, class:'input' %></p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
  	<div class="field-label is-normal">
  	  <%= form.label :issue, 'Número', class:'label' %>
  	</div>
  	<div class="field-body">
  	  <div class="field">
  	    <p class="control"><%= form.text_field :issue, class:'input' %></p>
  	  </div>
  	</div>
    </div>

    <div class="field is-horizontal">
  	<div class="field-label is-normal">
  	  <%= form.label :issue, 'Páginas', class:'label' %>
  	</div>
  	<div class="field-body">
  	  <div class="field">
  	    <p class="control"><%= form.text_field :pages, class:'input' %></p>
  	  </div>
  	</div>
    </div>

    <div class="field is-horizontal">
  	<div class="field-label is-normal">
  	  <%= form.label :doi, 'DOI', class:'label' %>
  	</div>
  	<div class="field-body">
  	  <div class="field">
  	    <p class="control"><%= form.text_field :doi, class:'input' %></p>
  	  </div>
  	</div>
    </div>
  </div>

  
  <div class="actions is-pulled-right">
    <%= form.submit 'Actualizar artículo', class:'button is-link' %>
  </div>
<% end %>