<div class="level product-actions">
  <div class="level-left">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Artículos en Revistas', journal_articles_path(@person.shortname) %></li>
        <li><a>Editar</a></li>
      </ul>
    </nav>
  </div>
  <div class="level-right">
    <%= link_to journal_articles_path(@person.shortname), class: 'button' do %>
      <span class="icon is-small"><i class="fas fa-angle-left" aria-hidden="true"></i></span>
    <% end %>
  </div>
</div>
<div class="product">

<h1 class="product-title"><%= link_to @journal_article.title, journal_article_path(@person.shortname, @journal_article) %></h1>


<div class="product-tabs tabs-wrapper">
  <div class="tabs">
    <ul>
        <li class="is-active"><a>Datos Generales</a></li>
        <li><a>Participantes</a></li>
        <li><a>Agradecimientos</a></li>
        <li><a>Citas</a></li>
        <li><a>Archivos</a></li>
    </ul>
  </div>

  <div class="tabs-content">
  <ul>
    <li class="is-active">
      <%= render 'edit_form', journal_article: @journal_article, person: @person  %>
      <div class="is-clearfix"></div>
    </li>
    <li>
      <div id="product-participants-ui">
        <%= render 'product_participants/ui', product: @journal_article  %>
      </div>
      <div class="is-clearfix"></div>
    </li>
    <li>
      <div id="acknowledgments-ui">
      <%= render 'acknowledgments/ui', product: @journal_article  %>
      <div class="is-clearfix"></div>
    </li>
    <li>
      <h3>Citas</h3>
      <div class="is-clearfix"></div>
    </li>
    <li>
      <%= render 'product_files/ui', product: @journal_article %>
      <div class="is-clearfix"></div>
    </li>
  </ul>
  </div>
</div>

</div>