<div class="container product-index">
<div class="level product-actions">
  <div class="level-left">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Artículos en Revistas', journal_articles_path(@person.shortname) %></li>
      </ul>
    </nav>
  </div>
  <div class="level-right">
    <div class="product-filters">
      <div class="select">
        <% 
        options = {}
        options["Todos"]      = "todos"
        options["Enviados"]   = "enviados"
        options["Aceptados"]  = "aceptados"
        options["Rechazados"] = "rechazados"
        %>
        <%= select_tag 'filter_status', options_for_select(options, @filter_status), class: 'filter-select', id: "filter-status", 'data-url': journal_articles_path(@person.shortname) %>
      </div>
      <div class="select">
        <% 
        options = {}
        options["Todos los años"] = "todos"
        
        this_year = Date.today.year


        if @min_year.is_a? Integer
          min_year = @min_year
        else
          min_year = this_year
        end

        (min_year..this_year).each do |y|
          options["Año #{y}"] = y
        end
        %>
        <%= select_tag 'filter_year', options_for_select(options, @filter_year), class: 'filter-select', id: "filter-year", 'data-url': journal_articles_path(@person.shortname) %>
      </div>

    </div>
    <% if current_user.id == @person.id %>
      <%= link_to new_journal_article_path, class:'button is-link' do %>
        <span class="icon is-small"><i class="fas fa-plus" aria-hidden="true"></i></span>
      <%  end %>
    <% end %>
  </div>
</div>
<% if @journal_articles.count == 0 %>
  <div class="empty-results">No existen</div>
<% end %>
<div class="columns">
<div class="column is-two-thirds">
<% art_ids = [] %>
<% @journal_articles.each do |journal_article| %>
<% art_ids << journal_article.id %>
<div class="product-item">
  <article class="media">
    <div class="media-left">
      <%= 
      case journal_article.status 
      when JournalArticle::SENT
        sent_icon
      when JournalArticle::ACCEPTED
        accepted_icon
      when JournalArticle::PUBLISHED
        published_icon
      when JournalArticle::REJECTED
        rejected_icon  
      end
      %>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= link_to journal_article.title, journal_article_path(@person.shortname, journal_article) %></strong>
          <br>
          <small><%= journal_article.authors %></small>
          <p class="product-dates">
            <span class="tag <%= journal_article.status_class %>"><%= journal_article.status_text %></span>
            <small>
              Fecha envío: <%= journal_article.sent_date %>
              <% if journal_article.accepted_date %>
                &bull; Fecha aceptado: <%= journal_article.accepted_date %>
              <% end %>
              <% if journal_article.published_date %>
                &bull; Fecha publicado: <%= journal_article.published_date %>
              <% end %>
            </small>
          </p>
        </p>
      </div>
    </div>
  </article>
</div>
<% end %>
</div>
<div class="column is-one-third journal-articles-extra">
  <%

  cites = ProductCite.where(attachable_type: 'JournalArticle', attachable_id: @all_journal_articles)
  coauthors = ProductParticipant.where(attachable_type: 'JournalArticle', attachable_id: art_ids).group(:person_id)
  if  @filter_year != 'todos'
    cites = cites.where("YEAR(published_date) = ?", @filter_year)
  end
  cites = cites.group('YEAR(published_date)').count
  %>

  <% if cites.count > 0 %>
    <h2>Citas</h2>
    <% if @filter_year == 'todos' %>
      <%= bar_chart cites %>
    <% else %>
      <div class="product-cites-count"><%= cites[@filter_year.to_i] %></div>
      <div class="product-cites-year"><%= @filter_year %></div>
    <% end %>
  <% end %>
  <h2>Coautores</h2>
  <table>
  <% coauthors.each do |co| %>
    <% next if co.person_id == @person.id %>
    <% if co.person %>
      <tr><td><figure class="image is-32x32"><img class="is-rounded" src="<%= co.person.display_url rescue '' %>"></figure></td>
      <td><span><%= link_to co.person.full_name, journal_articles_path(co.person.shortname)  %></span><small><%= co.person.department.name rescue '--' %></small></td></tr>
    <% else %>
      <tr><td><figure class="image is-32x32"><%= image_tag "unknown.svg", class: 'is-rounded' %></figure></td>
      <td><span><%= co.author_is %></span></td></tr>
    <% end %>          
  <% end %>
  </table>
</div>



</div>
