<%= form_for popular_science, :url => popular_science_path(person.shortname, popular_science), local: true do |form| %>

  <% if popular_science.errors.any? %>

  <div class="notification is-danger">
    <button class="delete"></button>
    <h2><%= pluralize(popular_science.errors.count, "error") %> prohibited this popular_science from being saved:</h2>
    <ul>
      <% popular_science.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>

  <% end %>


    <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :name, 'Actividad', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control"><%= form.text_field :name, class:'input', required: true %></p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :activity_type, 'Tipo', class:'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <% options = PopularScience::ACTIVITY_TYPES.invert.sort {|a,b| (a[1] <=> b[1]) if a[1] > 0} %>
      <p class="control">
        <div class="select">
          <%= form.select :activity_type, options, {} %>
        </div>
      </p>
    </div>
  </div>
  </div>

  <div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :description, 'Objetivo', class:'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control"><%= form.text_area :description, class:'textarea' %></p>
    </div>
  </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :start_date, 'Inicio', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control"><%= form.text_field :start_date, type:'date', class:'input', value: Date.today.strftime("%F") %></p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :end_date, 'Termino', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control"><%= form.text_field :end_date, type:'date', class:'input', value: Date.today.strftime("%F") %></p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :location, 'Lugar', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control"><%= form.text_field :location, class:'input', required: true %></p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :country_id, 'País', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="select">

          <%= form.collection_select :country_id, Country.order(:name),:id,:name %>
        </div>
      </div>
    </div>
  </div>

  <div class="actions is-pulled-right">
    <%= form.submit 'Actualizar', class:'button is-link' %>
  </div>
<% end %>