<div class="container product-index">
<div class="level product-actions">
  <div class="level-left">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Evaluador de Artículos', evaluador_de_articulos_path %></li>
      </ul>
    </nav>
  </div>
  <div class="level-right">
    <div class="product-filters">
      <div class="select">
        <% 
        options = {}
        options["Todos los años"] = "todos"
        
        this_year = Date.today.year

        if @min_year.is_a? Integer
          min_year = @min_year
        else
          min_year = this_year
        end

        
        (min_year..this_year).each do |y|
          options["Año #{y}"] = y
        end
        %>
        <%= select_tag 'filter_year', options_for_select(options, @filter_year), class: 'filter-select', id: "filter-year", 'data-url': evaluador_de_articulos_path %>
      </div>

    </div>
  </div>
</div>

<% if @journal_article_reviewers.count == 0 %>
  <div class="empty-results">No existen</div>
<% end %>
<% @journal_article_reviewers.each do |journal_article_reviewer| %>
<div class="product-item">
  <article class="media">
    <div class="media-left">
      <%= custom_icon('success', 'fa-file') %>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= link_to journal_article_reviewer.title, ver_evaluador_de_articulo_path(journal_article_reviewer) %></strong><br>
          <%= "#{journal_article_reviewer.review_date}, #{journal_article_reviewer.journal.name}" %>
          <div class="tags  has-addons">
            <span class="tag is-medium"><img class="is-rounded leader-img" src="<%= journal_article_reviewer.person.display_url rescue '' %>" title="<%= journal_article_reviewer.person.full_name %>"> </span>
            <span class="tag is-medium"><%= journal_article_reviewer.person.full_name %></span>
          </div>
        </p>
      </div>
    </div>
  </article>
</div>
<% end %>
</div>
