<div class="container product-index">
<div class="level product-actions">
  <div class="level-left">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Reconocimientos', reconocimientos_path %></li>
      </ul>
    </nav>
  </div>
  <div class="level-right">
    <div class="product-filters">
      <div class="select">
        <% 
        options = {}
        options["Todos los años"] = "todos"
        
        this_year = Date.today.year

        if @min_year.is_a? Integer
          min_year = @min_year
        else
          min_year = this_year
        end

        
        (min_year..this_year).each do |y|
          options["Año #{y}"] = y
        end
        %>
        <%= select_tag 'filter_year', options_for_select(options, @filter_year), class: 'filter-select', id: "filter-year", 'data-url': reconocimientos_path %>
      </div>

    </div>
  </div>
</div>

<% if @awards.count == 0 %>
  <div class="empty-results">No existen</div>
<% end %>
<% @awards.each do |award| %>
<div class="product-item">
  <article class="media">
    <div class="media-left">
      <%= doc_icon %>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= link_to award.name, ver_reconocimiento_path(award) %></strong><br>
          <span class="tag is-light"><%= award.award_type_text %></span>
          <%= "#{award.grant_date}, #{award.granted_by} (#{award.country.name})" %>
        </p>
        <div class="tags  has-addons">
            <span class="tag is-medium"><img class="is-rounded leader-img" src="<%= award.person.display_url rescue '' %>" title="<%= award.person.full_name %>"> </span>
            <span class="tag is-medium"><%= award.person.full_name %></span>
          </div>
      </div>
    </div>
  </article>
</div>
<% end %>
</div>
