<%= form_for project, :url => project_path(person.shortname, project), local: true do |form| %>

  <% if project.errors.any? %>

  <div class="notification is-danger">
    <button class="delete"></button>
    <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
    <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>

  <% end %>
<div class="columns project-edit">
<div class="column is-two-thirds">
  <div class="field">
    <%= form.label :name, 'Proyecto', class:'label' %>
    <p class="control"><%= form.text_field :name, class:'input', required: true %></p>
  </div>

  <div class="field">
    <%= form.label :objectives, 'Objetivos', class:'label' %>
    <p class="control"><%= form.rich_text_area :objectives %></p>
  </div>

  <div class="field">
    <%= form.label :results, 'Resultados esperados', class:'label' %>
    <p class="control"><%= form.rich_text_area :results %></p>
  </div>
</div>

<div class="column">
  <div class="field">
      <%= form.label :external_identificator, 'ID Externo', class:'label' %>
      <p class="control"><%= form.text_field :external_identificator, class:'input', required: true %></p>
  </div>

  <div class="field">
      <%= form.label :internal_identificator, 'ID Interno', class:'label' %>
     <p class="control"><%= form.text_field :internal_identificator, class:'input', required: true %></p>
  </div>

  <div class="field">
    <%= form.label :source_type, 'Origen', class:'label' %>
    <% options = Project::SOURCE_TYPES.invert.sort {|a,b| (a[1] <=> b[1]) if a[1] > 0} %>
    <p class="control">
        <div class="select">
          <%= form.select :source_type, options, {} %>
        </div>
        <div class="extra-other">
          <%= form.text_field :source, class:'input', required: true %>
        </div>
    </p>
  </div>

  <div class="field">
    <%= form.label :research_type, 'Tipo de Investigación', class:'label' %>
      <% options = Project::RESEARCH_TYPES.invert.sort {|a,b| (a[1] <=> b[1]) if a[1] > 0} %>
    <p class="control">
        <div class="select">
          <%= form.select :research_type, options, {} %>
        </div>
    </p>
  </div>
</div>
</div>


  <div class="actions is-pulled-right">
    <%= form.submit 'Actualizar', class:'button is-link' %>
  </div>
<% end %>