<div class="columns">
  <div class="column">

  	<div class="info-section">
  	  <div class="info-title">Información General</div>
  	  <div class="info-content">
  	  	<strong>Duración:</strong> Del <%= I18n.l(project.start_date, format: :long) rescue '--' %> al <%= I18n.l(project.end_date, format: :long) rescue '--' %><br>
  	  	<strong>Tipo de investigación:</strong> <%= project.research_type_text %><br>
  	  	<strong>Origen:</strong> <%= project.source_type_text  %> 
        <% if !project.source.blank? %>
          %(<%= project.source %>) 
        <% end %>
      </div>
    </div>

  	<div class="info-section">
  	  <div class="info-title">Objetivo</div>
  	  <div class="info-content">
        <%= project.objectives %>
      </div>
    </div>

    <div class="info-section">
  	  <div class="info-title">Resultados esperados</div>
  	  <div class="info-content">
        <%= project.results %>
      </div>
    </div>
    
    <% if show_participants %>
    <div class="info-section">
  	  <div class="info-title">Participantes</div>

      <table class="table is-fullwidth is-striped">
        <tr>
          <th>Líder</th>
          <th colspan="2">Nombre</th>
          <th>Rol</th>
          <th style="width: 13em; text-align: right;">Participación</th>
        </tr>
        <% @project.project_participants.where('status = ?', ProjectParticipant::ACTIVE).order('participation DESC').each do |participant| %>
          <tr>
            <td style="text-align: center; width: 1em;">
              <% if participant.role_type == ProjectParticipant::LEADER %>
                <span class="icon is-small has-text-warning"><i class="fas fa-star"></i></span>
              <% end %>
            </td>
            <td style="width: 32px;">
              <figure class="image is-24x24"><img class="is-rounded" src="<%= participant.person.display_url rescue '' %>" title="<%= participant.person.full_name %>"></figure>
            </td>
            <td><%= link_to participant.person.full_name, "/perfiles/#{participant.person.shortname}" %></td>
            <td><%= participant.role %></td>
            <td style="width: 13em; text-align: right;"><%= participant.participation %>%</td>
          </tr>
        <% end %>
      </table>
    </div>
    <% end %>
  
  </div>

  <div class="column is-one-quarter">
  	<div class="info-section">
  	  <div class="info-title">Linea de tiempo</div>
  	  <div class="info-content">
        <%= render 'timeline', project: project, person: person  %>
      </div>
    </div>
  </div>
</div>