<%= render 'project_header', project: @project, person: @person  %>

<div class="product">
<h1 class="project-title"><%= link_to @project.name, administrar_project_path(@person.shortname, @project) %></h1>
<div class="project-cards-area">
  <div class="columns">
    
    <div class="column is-one-third">
      <div class="card project-card" data-url="<%= projects_path(@person.shortname) %>/<%= @project.id %>/administrar/informacion">
        <div class="project-card-title project-card-title-informacion">Información</div>
        <div class="project-card-content">
          <strong>Investigación: </strong> <%= @project.research_type_text %><br>
          <strong>Origen: </strong> <%= @project.source_type_text %> (<%= @project.source %>)<br>
          <% objectives = strip_tags(@project.objectives.to_s)[0...200] + "..." %>
          <p><strong>Objetivo:</strong> <%= objectives %></p>
        </div>
      </div>
    </div>

    <div class="column is-one-third">
      <div class="card project-card" data-url="<%= projects_path(@person.shortname) %>/<%= @project.id %>/administrar/presupuesto">
        <div class="project-card-title project-card-title-presupuesto">Presupuesto</div>
        <div class="project-card-icon"><span class="icon project-card-icon-informacion "><i class="fas fa-dollar-sign"></i></span></div>
      </div>   
    </div>

    <div class="column is-one-third">
      <div class="card project-card" data-url="<%= project_project_messages_path(@person.shortname, @project) %>">
        <div class="project-card-title project-card-title-mensajes">Mensajes</div>
        <% messages = @project.project_messages.where("status = ?", ProjectMessage::ACTIVE).order('created_at DESC').limit(5) %>
        <% if messages.count == 0 %>
          <div class="project-card-icon"><span class="icon project-card-icon-mensajes"><i class="fas fa-comments"></i></span></div>
        </div>
        <% end %>
        <div class="project-card-content">
        <% messages.each do |message| %>
          <article class="media message-admin-item" data-url="<%= project_project_message_path(@person.shortname, @project, message) %>">
            <div class="media-left">
              <figure class="image is-24x24"><img class="is-rounded" src="<%= message.person.display_url rescue '' %>" title="<%= message.person.full_name %>"></figure>
            </div>
            <div class="media-content">
              <div class="content">
                <strong><%= message.title %></strong><br>
                <%= strip_tags(message.content.to_s)[0...50] %>...
              </div>
            </div>
          </article>
        <% end %> 
        </div>     
      </div>
    </div>
  </div>

  <div class="columns">

    <div class="column is-one-third">
      <div class="card project-card" data-url="<%= projects_path(@person.shortname) %>/<%= @project.id %>/administrar/tareas">
        <div class="project-card-title project-card-title-tareas">Tareas</div>
        <div class="project-card-icon"><span class="icon project-card-icon-tareas"><i class="fas fa-list-alt"></i></span></div>
      </div>
    </div>
    
    <div class="column is-one-third">
      <div class="card project-card" data-url="<%= projects_path(@person.shortname) %>/<%= @project.id %>/administrar/calendario">
        <div class="project-card-title project-card-title-calendario">Calendario</div>
        <div class="project-card-icon"><span class="icon project-card-icon-calendario"><i class="fas fa-calendar"></i></span></div>
      </div>
    </div>
    
    <div class="column is-one-third">
      <div class="card project-card" data-url="<%= projects_path(@person.shortname) %>/<%= @project.id %>/administrar/servicios">
        <div class="project-card-title project-card-title-servicios">Servicios</div>
        <div class="project-card-icon"><span class="icon project-card-icon-servicios"><i class="fas fa-flask"></i></span></div>
      </div>
    </div>
  
  </div>
  <div class="columns">
    
    <div class="column is-one-third">
      <div class="card project-card" data-url="<%= projects_path(@person.shortname) %>/<%= @project.id %>/administrar/participantes">
        <div class="project-card-title project-card-title-participantes">Participantes</div>
        <div class="project-card-icon"><span class="icon project-card-icon-participantes"><i class="fas fa-user-friends"></i></span></div>
      </div>
    </div>
    
    <div class="column is-one-third">
      <div class="card project-card" data-url="<%= projects_path(@person.shortname) %>/<%= @project.id %>/administrar/documentos">
        <div class="project-card-title project-card-title-documentos">Documentos</div>
        <div class="project-card-icon"><span class="icon project-card-icon-documentos"><i class="fas fa-file"></i></span></div>
      </div>
    </div>
  </div>
</div>

  
</div>