<%= render 'projects/project_header', project: @project, person: @person  %>
<div class="product">
  <h1 class="project-title"><%= link_to @project.name, administrar_project_path(@person.shortname, @project) %></h1>
  <%= render 'status_header', project: @project, person: @person  %>
  <%= render 'projects/project_menu', project: @project, person: @person  %>
</div>

<div class="level product-actions">
  <div class="level-left">
    <nav class="breadcrumb project-tab-title" aria-label="breadcrumbs">
      <ul>
        <li><a>Información</a></li>
      </ul>
    </nav>
  </div>
  <div class="level-right">
    <%= render 'change_status_dropdown', project: @project, person: @person  %>
    <a href="<%= administrar_informacion_editar_project_path(@person.shortname, @project) %>" class="button"><span class="icon is-small"><i class="fas fa-edit"></i></span></a>
  </div>
</div>

<%= render 'project_info', project: @project, person: @person, show_participants: false  %>