<%= render 'projects/project_header', project: @project, person: @person  %>
<div class="product">
  <h1 class="project-title"><%= link_to @project.name, administrar_project_path(@person.shortname, @project) %></h1>
  <%= render 'projects/project_menu', project: @project, person: @person  %>
</div>

<div class="level product-actions">
  <div class="level-left">
    <nav class="breadcrumb project-tab-title" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Participantes', project_project_participants_path(@person.shortname, @project) %></li>
        <li><a><%= @project_participant.person.full_name %></a></li>
      </ul>
    </nav>
  </div>
  <div class="level-right">
    <%= link_to project_project_participants_path(@person.shortname, @project), class: 'button' do %>
      <span class="icon is-small"><i class="fas fa-angle-left" aria-hidden="true"></i></span>
    <% end %>
  </div>
</div>
<%= form_for @project_participant, :url => project_project_participant_path(@person.shortname, @project), local: true do |form| %>
  <div class="field">
    <%= form.label :role_type, 'Tipo de participación', class:'label' %>
    <% options = ProjectParticipant::ROLE_TYPES.invert.sort {|a,b| (a[1] <=> b[1]) if a[1] > 0} %>
    <p class="control">
        <div class="select">
          <%= form.select :role_type, options, {} %>
        </div>
    </p>
  </div>
  <div class="field">
    <%= form.label :role, 'Rol en el proyecto', class:'label' %>
    <p class="control">
      <%= form.text_field :role, class:'input', required: true, placeholder: 'Rol' %>
    </p>
  </div>

<div class="actions is-pulled-right">
    <%= form.submit 'Guardar', class:'button is-link' %>
  </div>
<% end %>