<%= render 'projects/project_header', project: @project, person: @person  %>
<div class="product">
  <h1 class="project-title"><%= link_to @project.name, administrar_project_path(@person.shortname, @project) %></h1>
  <%= render 'projects/status_header', project: @project, person: @person  %>
  <%= render 'projects/project_menu', project: @project, person: @person  %>
</div>

<div class="level product-actions">
  <div class="level-left">
    <nav class="breadcrumb project-tab-title" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Participantes', project_project_participants_path(@person.shortname, @project) %></li>
        <li><a>Porcentajes</a></li>
      </ul>
    </nav>
  </div>
  <div class="level-right">
  	<%= link_to project_project_participants_path(@person.shortname, @project), class: 'button' do %>
      <span class="icon is-small"><i class="fas fa-angle-left" aria-hidden="true"></i></span>
    <% end %>
  </div>
</div>

<%= form_with url: project_administrar_participantes_porcentajes_guardar_path(@person.shortname, @project), local: true, scope: "post" do |form| %>

<table class="table is-fullwidth is-striped">
  <tr>
    <th>Líder</th>
    <th colspan="2">Nombre</th>
    <th>Rol</th>
    <th style="width: 13em;" colspan="2">Participación</th>
  </tr>
  <% @project.project_participants.where('status = ?', ProjectParticipant::ACTIVE).order('participation DESC').each do |participant| %>
    <tr>
      <td style="text-align: center; width: 1em;">
        <% if participant.role_type == ProjectParticipant::LEADER %>
          <span class="icon is-small has-text-warning"><i class="fas fa-star"></i></span>
        <% end %>
      </td>
      <td style="width: 32px;">
        <figure class="image is-24x24"><img class="is-rounded" src="<%= participant.person.display_url rescue '' %>" title="<%= participant.person.full_name %>"></figure>
      </td>
      <td><%= link_to participant.person.full_name, "/perfiles/#{participant.person.shortname}" %></td>
      <td><%= participant.role %></td>
      <td style="width: 8em; text-align: right;"><input name="percentage-<%= participant.id %>" class="input participant-percentage" type="number" value="<%= participant.participation %>"></td>
      <td><strong>%</strong></td>
    </tr>
  <% end %>
</table>

  <div class="actions is-pulled-right">
    <%= form.submit 'Guardar', class:'button is-link' %>
  </div>
<% end %>
