<%= render 'projects/project_header', project: @project, person: @person  %>
<div class="product">
  <h1 class="project-title"><%= link_to @project.name, administrar_project_path(@person.shortname, @project) %></h1>
  <%= render 'projects/status_header', project: @project, person: @person  %>
  <%= render 'projects/project_menu', project: @project, person: @person  %>
</div>

<div class="level project-actions">
  <div class="level-left">
    <div class="message-title-header"><span class="project-tab-title"><%= @project_message.title %></span></div>
  </div>
  <div class="level-right">
    <% if @project_message.person_id == current_user.id %>
      <a href="<%= edit_project_project_message_path(@person.shortname, @project) %>" class="button is-link"><span class="icon is-small"><i class="fas fa-edit"></i></span></a>
      <%= link_to project_project_message_path(@person.shortname, @project), data: {:confirm => '¿Confirmar?'}, class: 'button is-danger', :method => :delete do %>
        <span class="icon is-small"><i class="fas fa-trash" aria-hidden="true"></i></span>
      <% end %>
    <% end %>

  	<%= link_to project_project_messages_path(@person.shortname, @project), class: 'button' do %>
      <span class="icon is-small"><i class="fas fa-angle-left" aria-hidden="true"></i></span>
    <% end %>
  </div>
</div>
<div class="media message-author">
  <div class="media-left">
    <figure class="image is-48x48"><img class="is-rounded" src="<%= @project_message.person.display_url rescue '' %>" title="<%= @project_message.person.full_name %>"></figure>
  </div>
  <div class="media-content">
    <div class="content">
      <strong><%= @project_message.person.full_name %></strong><br>
      <%= @project_message.created_at %>
    </div>
  </div>
</div>
<%= @project_message.content %>