<div class="container catalog">

<% if notice %>
  <div id="notice" class="notification is-info">
    <button class="delete"></button>
    <%= notice %>
  </div>
<% end %>

<div class="level">
  <div class="level-left">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Revistas', journals_path %></li>
      </ul>
  </nav>
  </div>
  <div class="level-right">
    <%= link_to 'Agregar', new_journal_path, class:'button is-link' %>
  </div>
</div>

<table class="table is-striped is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Issn</th>
      <th>E issn</th>
      <th>País</th>
    </tr>
  </thead>

  <tbody>
    <% @journals.each do |journal| %>
      <tr>
        <td>
          <strong><%= link_to journal.name, journal_path(journal) %></strong>
          <div class="row-extra">
            <% if journal.is_refereed %>
              <span class="tag is-light">Arbitrada</span>
            <% end %>
            <% if journal.is_international %>
              <span class="tag is-light">Internacional</span>
            <% end %>
            <% if journal.is_indexed %>
              <span class="tag is-light">Índizada</span>
            <% end %>
          </div>
        </td>
        <td><%= journal.issn %></td>
        <td><%= journal.e_issn %></td>
        <td><%= journal.country.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>