<div class="new-journal">
<%= form_with(model: @journal, local: true) do |form| %>
  <% if @journal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@journal.errors.count, "error") %> prohibited this journal from being saved:</h2>

      <ul>
        <% @journal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :name, 'Nombre', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control"><%= form.text_field :name, class:'input' %></p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :country_id, 'País', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="select">

          <%= form.collection_select :country_id, Country.order(:name),:id,:name %>
        </div>
      </div>
    </div>
  </div>


  <div class="actions is-pulled-right">
  	<a class="button is-link" id="submit-new-journal">Agregar nueva revista</a>
  </div>
<% end %>
</div>
