<div class="container catalog">
<% if notice %>
  <div id="notice" class="notification is-info">
    <button class="delete"></button>
    <%= notice %>
  </div>
<% end %>
<div class="level">
  <div class="level-left">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Revistas', journals_path %></li>
      </ul>
    </nav>
  </div>
</div>


<h1 class="journal-h1"><%= @journal.name %></h1>
<div class="columns">
  <div class="column"><div class="box">
    <table class="table is-fullwidth">
      <tr>
        <td class="has-text-right"><strong>Nombre:</strong></td>
        <td><%= @journal.name %></td>
      </tr>
      <tr>
        <td class="has-text-right"><strong>Sitio Web:</strong></td>
        <td><%= @journal.website %></td>
      </tr>
      <tr>
        <td class="has-text-right"><strong>¿Es arbitrada?:</strong></td>
        <td>
          <%= @journal.is_refereed ? 'SI' : 'NO' %>
        </td>
      </tr>
      <tr>
        <td class="has-text-right"><strong>¿Es internacional?:</strong></td>
        <td><%= @journal.is_international ? 'SI' : 'NO'%></td>
      </tr>
      <tr>
        <td class="has-text-right"><strong>¿Es índizada?:</strong></td>
        <td>
          <%= @journal.is_indexed ? 'SI' : 'NO'%>
          <% if @journal.is_indexed %>
            <ul>
            <% @journal.journal_indices.each do |idx| %>
              <li><%= idx.indexer.name %></li>
            <% end %>
            </ul>
          <% end %> 
        </td>
      </tr>
      <tr>
        <td class="has-text-right"><strong>ISSN:</strong></td>
        <td><%= @journal.issn %></td>
      </tr>
      <tr>
        <td class="has-text-right"><strong>E-ISSN:</strong></td>
        <td><%= @journal.e_issn %></td>
      </tr>
      <tr>
        <td class="has-text-right"><strong>País:</strong></td>
        <td><%= @journal.country.name %></td>
      </tr>
      <tr>
        <td colspan="2" class="has-text-centered"><%= link_to 'Editar', edit_journal_path(@journal) %></td>
      </tr>
    </table>
  </div></div>
  <div class="column is-one-quarter">
    <div class="impact-factor-area box">
      <div class="impact-factor-label is-uppercase">Factor de Impacto <%= @journal.impact_factor.year %></div>
      <div class="impact-factor-value"><%= @journal.impact_factor.impact_factor %></div>
      <div class="impact-factor-edit-link"><%= link_to 'Editar', journal_journal_impact_factors_path(@journal) %></div>
    </div>
  </div>
</div>

</div>
