<div class="level product-actions">
  <div class="level-left">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Prospectos', prospects_path(@person.shortname) %></li>
        <li><a>Nuevo</a></li>
      </ul>
    </nav>
  </div>
  <div class="level-right">
    <%= link_to prospects_path(@person.shortname), class: 'button' do %>
      <span class="icon is-small"><i class="fas fa-angle-left" aria-hidden="true"></i></span>
    <% end %>
  </div>
</div>

<div class="product">
<%= form_with(model: @prospect, local: true) do |form| %>
  <% if @prospect.errors.any? %>

  <div class="notification is-danger">
    <button class="delete"></button>
    <h2><%= pluralize(@prospect.errors.count, "error") %> prohibited this prospect from being saved:</h2>
    <ul>
      <% @prospect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>

  <% end %>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :subject, 'Prospecto', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control"><%= form.text_field :subject, class:'input', required: true, placeholder: 'Asunto del que se trata el proyecto prospecto' %></p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :organization, 'Organización/Empresa', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control"><%= form.text_field :organization, class:'input', required: true %></p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :source, 'Origen del contacto', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control"><%= form.text_field :source, class:'input', required: true, placeholder: 'Campaña publicitaria, recomendación, acercamiento con investigador, etc.' %></p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :contact_date, 'Fecha del contacto', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control"><%= form.text_field :contact_date, type:'date', class:'input', value: Date.today.strftime("%F") %></p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :contact, 'Contacto', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control"><%= form.text_field :contact, class:'input', required: true, placeholder: 'Nombre de la persona a contactar' %></p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :decision_type, 'Nivel de decisión', class:'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <% options = Prospect::DECISION_TYPES.invert.sort {|a,b| (a[1] <=> b[1]) if a[1] > 0} %>
      <p class="control">
        <div class="select">
          <%= form.select :decision_type, options, {} %>
        </div>
      </p>
    </div>
  </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :phone, 'Teléfono', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control"><%= form.text_field :phone, class:'input' %></p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :email, 'Correo Electrónico', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control"><%= form.text_field :email, class:'input', required: true %></p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :address, 'Dirección', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control"><%= form.text_field :address, class:'input'%></p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :country_id, 'País', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="select">
          <%= form.collection_select :country_id, Country.order(:name),:id,:name, {selected: mexico_id } %>
        </div>
      </div>
    </div>
  </div>


  <div class="field is-horizontal">
    <div class="field-label is-normal">
    <%= form.label :needs, 'Necesidad a resolver', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control single-rich"><%= form.rich_text_area :needs %></p>
      </div>
    </div>
  </div> 

  

  <div class="actions is-pulled-right">
    <a id="add-prospect" class="button is-link" data-shortname="<%= @person.shortname %>">Agregar</a>
  </div>
  <div class="is-clearfix"></div>

<% end %>
</div>
