<%
url_prospects = prospectos_path
url_prospect =  prospect_path(@prospect)
if !@department.blank?
  url_prospects = ver_departamento_prospectos_path(@department)
  url_prospect = ver_departamento_prospecto_path(@department, @prospect)
elsif !@person.blank?
  url_prospects = prospects_path(@person.shortname)
  url_prospect = prospect_path(@person.shortname, @prospect)
end
%>
<div class="level product-actions">
  <div class="level-left">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Prospectos', url_prospects %></li>
        <li><a><%= @prospect.code %></a></li>
      </ul>
    </nav>
  </div>
  <div class="level-right">
    <% if is_prospect_admin? %>
      <%= render 'change_status_dropdown', prospect: @prospect, person: @person  %>
      <%= link_to 'Editar', edit_prospect_path(current_user.shortname, @prospect), class: 'button' %>
    <% end %>
    <%= link_to url_prospects, class: 'button' do %>
      <span class="icon is-small"><i class="fas fa-angle-left" aria-hidden="true"></i></span>
    <% end %>
  </div>
</div>

<div class="product">
  <h1 class="prospect-title"><%= link_to @prospect.subject, url_prospect %></h1>
  <div class="columns is-mobile is-centered">
    <div class="column is-narrow">
      <span class="status-tag">
        <span class="tags has-addons">
          <span class="tag icon <%= @prospect.status_text_class %>"><i class="fas <%= @prospect.status_icon %>" aria-hidden="true"></i></span>
          <span class="tag <%= @prospect.status_class %>"><%= @prospect.status_text %></span>
        </span>
      </span>
    </div>
  </div>
  

  <div class="columns">
  <div class="column">

  	<div class="info-section">
  	  <div class="info-title">Información General</div>
  	  <div class="info-content">
  	  	<strong>Organización/Empresa:</strong> <%= @prospect.organization %><br>
  	  	<strong>Origen del contacto:</strong> <%= @prospect.source %><br>
  	  	<strong>Fecha de contacto:</strong> <%= I18n.l(@prospect.contact_date, format: :long).to_s.capitalize rescue '--' %><br>
  	  	<strong>Contacto:</strong> <%= @prospect.contact %><span class="tag"><%= @prospect.decision_type_text %></span><br>
  	  	<strong>Teléfono:</strong> <%= @prospect.phone rescue '--' %> &bull; <strong>Correo Electrónico:</strong> <%= @prospect.email rescue '--' %><br>
  	  	<strong>Dirección:</strong> <%= @prospect.address %>. <% @prospect.country.name.upcase rescue '--' %><br>
      </div>
    </div>

  	<div class="info-section">
  	  <div class="info-title">Necesidad a resolver:</div>
  	  <div class="info-content">
        <%= @prospect.needs %>
      </div>
    </div>

    <div class="info-section">
  	  <div class="info-title">Propuesta de participantes:</div>
  	  <div class="info-content">


        <% if @prospect.status == Prospect::INITIAL && is_prospect_evaluator? %>
          <% @prospect_participant = @prospect.prospect_participants.new %>
          <%= form_for @prospect_participant, :url => prospect_prospect_participants_path(current_user.shortname, @prospect), remote: true do |form| %>
          <div class="prospect-proposal">
          <table class="table is-fullwidth">
            <tr>
              <th style="text-align: right; width: 9.5em;">Propongo como</th>
              <td style="width: 8em;">
                <% options = ProspectParticipant::PARTICIPANT_TYPES.invert.sort {|a,b| (a[1] <=> b[1]) if a[1] > 0} %>
                <span class="control"><span class="select"><%= form.select :participant_type, options, {} %></span></span>
              </td>
              <th style="width: 2em;">a</th>
              <td style="width: 10em; text-align: right;">
              <% 
                employee_type = 1
                people = Person.where(person_type_id: employee_type, status: Person::STATUS_ACTIVE).order(:first_name, :last_name).pluck(:id, :first_name, :last_name)
                person_type = PersonType.find(employee_type)
                person_options = {}
                people.each do |p|
                  person_options["#{p[1]} #{p[2]}"] = p[0]
                end
              %>
              <div class="control"><div class="select"><%= form.select :person_id, options_for_select(person_options),prompt: "-- Seleccionar #{person_type.name} --", class: 'participant-person-select', id: "person_id_new"%></div></div>
              </td>
              <th rowspan="2" style="width: 3em" class="button-add-cell">
              	<button type="submit" class="button is-success">
              	  <span class="icon is-small"><i class="fas fa-plus" aria-hidden="true"></i></span>
              	</button>
              </th>
            </tr>
            <tr>
              <th style="text-align: right;">por</th>
              <td colspan="3">
                <%= form.text_field :suggester_comments, class:'input', required: true, placeholder: '¿Por qué sugieres que participe?' %></
              </th>
            </tr>
          </table></div>
          <% end %>
        <% end %>


        <div id="prospect-participants-ui">
          <%= render 'prospect_participants/participant_list', prospect: @prospect, person: @person  %>
        </div>
        
      </div>
    </div>

    <% if @prospect.status >= Prospect::ASSIGNED %>
    <div class="info-section">
      <div class="info-title">Equipo definido por Vinculación:</div>
      <div class="info-content">
        
          <%= render 'prospect_team', prospect: @prospect  %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="column is-one-quarter">
    <div class="info-section">
      <div class="info-title">Agente de Vinculación</div>
      <div class="info-content">

        <article class="media">
        <figure class="media-left">
          <p class="image is-48x48">
            <img class="is-rounded" src="<%= @prospect.person.display_url rescue '' %>" title="<%= @prospect.person.full_name %>">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong><%= @prospect.person.full_name %></strong>
              <br>
              
            </p>
          </div>
        </div>
        </article>


      </div>
    </div>
    <div class="info-section">
      <div class="info-title">Linea de tiempo</div>
      <div class="info-content">
        <%= render 'timeline', prospect: @prospect  %>
      </div>
    </div>
  </div>
  </div>
</div>