<div class="container catalog">
<% if notice %>
  <div id="notice" class="notification is-info">
    <button class="delete"></button>
    <%= notice %>
  </div>
<% end %>
<div class="level">
  <div class="level-left">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Revistas', journals_path %></li>
        <li><%= link_to @journal.name, journal_path(@journal) %></li>
        <li><%= link_to 'Factor de impacto', journal_journal_impact_factors_path(@journal) %></li>
        <li><a><%= @journal_impact_factor.year %></a></li>
      </ul>
    </nav>
  </div>
  
</div>
<%= render 'form', journal_impact_factor: @journal_impact_factor, journal: @journal %>