<%= render 'projects/project_header', project: project, person: person  %>
<div class="product">
  <h1 class="project-title"><%= link_to project.name, administrar_project_path(person.shortname, project) %></h1>
  <%= render 'projects/project_menu', project: project, person: person  %>
</div>

<% 
  can_get_path = true
  if project_document.parent >= 0
    document_parents = []  
    
    if project_document.file_type == ProjectDocument::FOLDER
      if !project_document.new_record?
        d = project_document
      else
         d = project_document.parent_document
      end
    else 
      if project_document.parent > 0
        d = project_document.parent_document
      else
        can_get_path = false
      end
    end 
    if can_get_path
      document_parents << d
      while d.parent != 0 do
         d = d.parent_document
        document_parents.unshift(d)
      end
    end
  else 
    can_get_path = false 
  end 
%>


<div class="level product-actions folder-actions">
  <div class="level-left">
    <nav class="breadcrumb project-tab-title" aria-label="breadcrumbs">
      <ul class="<%= can_get_path ? 'folder-path' : '' %>">
        <% if can_get_path %>
          <li><a href="<%= project_project_documents_path(person.shortname, project) %>"><span class="icon is-small"><i class="fas fa-folder" aria-hidden="true"></i></span><span class="w1">&nbsp;</span></a></li>
          <% document_parents.each do |folder| %>
            <li><a href="<%= project_project_document_path(person.shortname, project, folder) %>"><%= folder.name %></a></li> 

          <% end %>
        <% else %>
          <li><%= link_to 'Documentos', project_project_documents_path(person.shortname, project) %></li>
        <% end %>
      </ul>
    </nav>
  </div>
  <div class="level-right">
    <% if project_document.file_type != ProjectDocument::FOLDER  %>
      <% if can_get_path %>
        <%= link_to project_project_document_path(person.shortname, project, project_document.parent_document), class: 'button' do %>
          <span class="icon is-small"><i class="fas fa-angle-left" aria-hidden="true"></i></span>
        <% end %>
      <% else %>
        <%= link_to project_project_documents_path(person.shortname, project), class: 'button' do %>
          <span class="icon is-small"><i class="fas fa-angle-left" aria-hidden="true"></i></span>
        <% end %>
      <% end %>
    <% end %>
    <% if project_document.file_type == ProjectDocument::FOLDER  %>
    <div class="product-filters">
      <div class="select">
        <% 
          if params['orden'] == 'nombre' 
            selected_nombre = 'selected' 
            selected_creacion = ''
            selected_modificacion = ''
          elsif params['orden'] == 'modificacion' 
            selected_nombre = '' 
            selected_creacion = ''
            selected_modificacion = 'selected'
          else
            selected_nombre = '' 
            selected_creacion = 'selected'
            selected_modificacion = ''
          end

        %>
        <select id="documents-order">
          <option value="nombre" <%= selected_nombre %>>Ordenar por nombre</option>
          <option value="creacion" <%= selected_creacion %>>Ordenar por creación</option>
          <option value="modificacion" <%= selected_modificacion %>>Ordenar por modificación</option>
        </select>
      </div>
    </div>
  	<div class="dropdown is-right is-hoverable project-documents-new-menu">
      <div class="dropdown-trigger">
        <button class="button is-success" aria-haspopup="true" aria-controls="dropdown-menu">
          <span class="icon is-small"><i class="fas fa-plus" aria-hidden="true"></i></span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content project-documents-new-menu-options">
          <% 
          if project_document.new_record? 
            target_folder = 0
          else 
            target_folder = project_document.id
          end 
          %>
          <a id="add-new-folder" data-url="<%= nueva_carpeta_project_project_document_path(person.shortname, project, target_folder) %>" class="dropdown-item">
            <span class="icon is-small"><i class="fas fa-folder" aria-hidden="true"></i></span>
            <span>Crear carpeta</span>
          </a>

          <a href="<%= nuevo_documento_project_project_document_path(person.shortname, project, target_folder) %>"class="dropdown-item">
            <span class="icon is-small"><i class="fas fa-file" aria-hidden="true"></i></span>
            <span>Crear documento</span>
          </a>
          
          <a onclick ="javascript:document.getElementById('upload_files').click();" class="dropdown-item">
            <span class="icon is-small"><i class="fas fa-upload" aria-hidden="true"></i></span>
            <span>Subir archivos</span>
          </a>
          <hr class="dropdown-divider">
          <a href="#" class="dropdown-item">
            <span class="icon is-small"><i class="fab fa-google-drive" aria-hidden="true"></i></span>
            <span>Enlace a Google Drive</span>
          </a>
        </div>
        <%= form_for @new_project_document, :url => subir_archivos_project_project_document_path(@person.shortname, @project, @new_project_document.parent), local: true, html: { multipart: true } do |form| %>
          <input id="upload_files" type="file" multiple style="display: none;" name="upload_files[]"/>
        <% end %>
      </div>
      <% if project_document.parent <= 0 || project_document.new_record? %> 
        <% if can_get_path %>
          <%= link_to project_project_documents_path(person.shortname, project), class: 'button' do %>
            <span class="icon is-small"><i class="fas fa-angle-left" aria-hidden="true"></i></span>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to project_project_document_path(person.shortname, project, project_document.parent_document), class: 'button' do %>
          <span class="icon is-small"><i class="fas fa-angle-left" aria-hidden="true"></i></span>
        <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
