<%= render 'documents_header', project: @project, person: @person, project_document: @project_document  %>

<% if @project_document.file_type == ProjectDocument::FOLDER %>
  <%= render 'documents_list', project: @project, person: @person, project_document: @project_document, parent_id: @project_document.id  %>
<% end %>

<% if @project_document.file_type == ProjectDocument::DOCUMENT %>
  <div class="document-name"><%= @project_document.name %></div>
  <%= @project_document.content %>
<% end %>

<% if @project_document.file_type == ProjectDocument::UPLOAD %>
  <div class="document-name"><%= @project_document.name %></div>
  <%= @project_document.content %>
  <a href="<%= rails_blob_path(@project_document.file, disposition: "attachment") %>">Descargar</a>
<% end %>