<%= render 'documents_header', project: @project, person: @person, project_document: @project_document  %>

<% if @project_document.file_type == ProjectDocument::FOLDER %>
  <%= render 'documents_list', project: @project, person: @person, project_document: @project_document, parent_id: @project_document.id  %>
<% end %>

<% if @project_document.file_type == ProjectDocument::DOCUMENT %>
  <div class="document-name"><%= @project_document.name %></div>
  <%= @project_document.content %>
<% end %>

<% if @project_document.file_type == ProjectDocument::UPLOAD %>
  <div class="document-show-upload">
  	<div class="document-show-upload-preview">
      <a href="<%= rails_blob_path(@project_document.file, disposition: "attachment") %>">
    	  <% if @project_document.file.previewable? %>
          <%= image_tag(@project_document.file.preview(resize: "500x500>")) %>
        <% elsif @project_document.file.variable? %>
          <%= image_tag(@project_document.file.variant(resize: "500x500>")) %>
        <% else %>
    	    <span class="icon"><i class="fas fa-file" aria-hidden="true"></i></span>
    	  <% end %>
      </a>
  	</div>
    <div class="document-name"><%= @project_document.name %></div>
    <%= @project_document.content %>
    <div class="document-show-upload-actions">
      <a href="<%= rails_blob_path(@project_document.file, disposition: "attachment") %>">Descargar</a> &bull; <a>Reemplazar con nueva versión</a>
    </div>
  </div>
<% end %>