<aside class="menu profile-menu">
  <div class="menu-section">
  <p class="menu-label">General</p>
  <ul class="menu-list">
    <li class="li-inicio"><%= link_to "Inicio", "/" %></li>
    <li class="li-departamentos"><%= link_to "Departamentos", departamentos_path %></li>
  </ul>
  <p class="menu-label">Investigacion</p>
  <ul class="menu-list">
    <li class="li-proyectos"><%= link_to "Proyectos", proyectos_path %></li>
    <% if Rails.env.development? %>
	  <li class="li-articulos-en-revistas"><%= link_to "Artículos en Revistas", articulos_en_revistas_path %></li>
	  <li class="li-articulos-en-conferencias"><%= link_to "Artículos en Conferencias", articulos_en_conferencias_path %></li>
	  <li class="li-difusion-y-divulgacion"><%= link_to "Difusión y Divulgación", difusion_y_divulgacion_path %></li>
	  <li class="li-libros"><%= link_to "Libros y Capítulos", libros_path %></li>
	  <li class="li-trabajos"><%= link_to "Trabajos", trabajos_path %></li>
	  <li class="li-patentes"><%= link_to "Patentes", patentes_path %></li>
	  <li class="li-conferencias-por-invitacion"><%= link_to "Conferencias por Invitación", conferencias_por_invitacion_path %></li>
	  <li class="li-asociaciones-y-redes"><%= link_to "Asociaciones y Redes", asociaciones_y_redes_path %></li>
	  <li class="li-reconocimientos"><%= link_to "Reconocimientos", reconocimientos_path %></li>
	  <li class="li-organizador-de-eventos"><%= link_to "Organizador de Eventos", organizador_de_eventos_path %></li>
	  <li class="li-evaluador-de-proyectos"><%= link_to "Evaluador de Proyectos", evaluador_de_proyectos_path %></li>
    <li class="li-evaluador-de-articulos"><%= link_to "Evaluador de Artículos", evaluador_de_articulos_path %></li>
	  <li class="li-actividades-relevantes"><%= link_to "Actividades Relevantes", actividades_relevantes_path %></li>
    <% end %>
  </ul>
  </div>
  <% if Rails.env.development? %>
  <div class="menu-section">
  <p class="menu-label">Posgrado</p>
  <ul class="menu-list">
    <li class="li-posgrado-en-curso"><a>En Curso ⌛</a></li>
    <li class="li-posgrado-graduados"><a>Graduados ⌛</a></li>
  </ul>
  </div>
  <% end %>
  <div class="menu-section">
  <p class="menu-label">Vinculación</p>
  <ul class="menu-list">
    <li class="li-prospectos"><%= link_to "Prospectos", prospectos_path %></li>
    <% if Rails.env.development? %>
    <li class="li-vinculacion"><a>Ingresos ⌛</a></li>
    <% end %>
  </ul>
  </div>
  <% if Rails.env.development? %>
  <div class="menu-section">
  <p class="menu-label">Trabajo Interno</p>
  <ul class="menu-list">
    <li class="li-servicios-de-laboratorio"><%= link_to "Servicios de Laboratorio", servicios_de_laboratorio_path(main_organization.shortname) %></li>
    <li class="li-grupos"><%= link_to "Grupos de Trabajo", grupos_de_trabajo_path(main_organization.shortname) %></li>
  </ul>
  </div>
  <% end %>
  <div class="is-clearfix"></div>
</aside>