<%= form_with(model: indexer, local: true) do |form| %>
  <% if indexer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(indexer.errors.count, "error") %> prohibited this indexer from being saved:</h2>

      <ul>
        <% indexer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :name, 'Nombre', class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control"><%= form.text_field :name, class:'input' %></p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
     <div class="field-label is-normal">
        <%= form.label :website, class:'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control"><%= form.text_field :website, class:'input' %></p>
      </div>
    </div>
  </div>

  
  <div class="actions is-pulled-right">
    <%= form.submit 'Guardar', class:'button is-link' %>
  </div>
<% end %>
