<div class="container catalog">

<% if notice %>
  <div id="notice" class="notification is-info">
    <button class="delete"></button>
    <%= notice %>
  </div>
<% end %>

<div class="level">
  <div class="level-left">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Configuración', config_path %></li>
        <li><%= link_to 'Índices', indexers_path %></li>
      </ul>
  </nav>
  </div>
  <div class="level-right">
    <%= link_to 'Agregar', new_indexer_path, class:'button is-link' %>
  </div>
</div>

<table class="table is-striped is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Sitio Web</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @indexers.each do |indexer| %>
      <tr>
        <td><%= indexer.name %></td>
        <td><%= indexer.website %></td>
        <td><%= link_to 'Editar', edit_indexer_path(indexer) %></td>
        <td><%= link_to 'Eliminar', indexer, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>